$color-primary = rgb(0,1223,96)

.mintui
  font-size: .16rem;

.mint-header
  background-color #ffffff
  font-size: 0.18rem
  font-weight: 700
  color: #333333 
  box-shadow: 0 2px 5px #ECECEC
  height: 0.4rem

.mint-button:not(.is-disabled):active::after
  opacity .2 /* .6 */
  font-size: 100%  

.mint-button--primary 
  background-color $color-primary
  height 0.4rem
  font-size: 100%

.mint-button--primary.is-plain 
  border 1px solid $color-primary
  color $color-primary
  font-size: 100%

.mint-badge.is-primary 
  background-color $color-primary
  font-size: 100%

.mint-switch-input:checked + .mint-switch-core 
  border-color $color-primary
  background-color $color-primary
  font-size: 100%

.mint-navbar .mint-tab-item.is-selected 
  border-bottom 3px solid $color-primary
  color $color-primary
  font-size: 100%

.mint-tabbar > .mint-tab-item.is-selected 
  color $color-primary
  font-size: 100%

.mint-searchbar-cancel 
  color $color-primary
  font-size: 100%

.mint-checkbox-input:checked + .mint-checkbox-core 
  background-color $color-primary
  border-color $color-primary
  font-size: 100%

.mint-radio-input:checked + .mint-radio-core 
  background-color $color-primary
  border-color $color-primary
  font-size: 100%

.mt-range-progress 
  background-color $color-primary
  font-size: 100%

.mt-progress-progress
  background-color $color-primary
  font-size: 100%

.mint-msgbox-confirm 
  color $color-primary
  font-size: 100%

.mint-msgbox-confirm:active 
  color $color-primary
  font-size: 100%

.mint-datetime-action 
  color $color-primary
  font-size: 100%
